@import url( 'https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;900&display=swap');

.App {
    font-family: 'Geologica', sans-serif;
    overflow-x:hidden;

}

.card-img {
    width: 12rem !important;
    object-fit: cover!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-align: left;
}
.card {
    text-align: left;
}

.card div {
    font-size: medium;
}

.rounded-circle {
    width: 10px !important;
    height: 10px !important;
}

